body {
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg {
    background-color: white;
    color: dodgerblue;
    padding:5px 15px ;
    border-radius: 16px;
}